/* CSS Document */
.txtred{ color:red;}
.txtleft{ text-align:left;}
.txtcentermiddle{ text-align:center; vertical-align:middle;}
.txtlineheight15{ line-height:15px !important;}
.txtfont10{ font-size:10px !important;}

.dataList{ width:98%; min-height:100px; padding-left:10px; padding-top:15px; overflow:hidden; text-align:center;}
.dataList table.listTable{ width:100%; text-align:center;}
.dataList table.listTable thead th{ background:#C0D2FF;color:#0A0A09; line-height:20px; padding:2px 5px 2px 10px; font-weight:bold;
	border:1px solid gray !important; border-collapse:collapse;}
.dataList table.listTable .oddrow td{ background:#ECEFF5;color:#0A0A09; line-height:25px; padding:5px 5px 5px 10px;
	border:1px solid gray !important; border-collapse:collapse;}
.dataList table.listTable .evenrow td{ background:#FBF6F6;color:#0F0E0E; line-height:20px; padding:2px 5px 2px 10px;
	border:1px solid gray !important; border-collapse:collapse;}

.frontpagination{ margin-top:15px;}
.frontpagination .pagination a, .frontpagination .pagination span{ font-size:12px !important; font-weight:bold; line-height:15px !important;}

.pagination {font-size: 80%; float:left; margin:5px 0 0 0;}
.pagination a {text-decoration: none;border: solid 1px #f7fff3;color: #15B;text-decoration: none;}
.pagination a, .pagination span {display: block;float: left;padding: 0.3em 0.5em;margin-right: 5px;margin-bottom: 5px; min-width:16px; 
	text-align:center;}
.pagination .current {background:#329998;border: 1px solid #329998;color: #FFFFFF;}
.pagination .current.prev, .pagination .current.next{color:#FFFFFF;border-color:#666;background:#333;}

.searchselect40x20{ width:40px; height:22px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px; font-size:11px; line-height:20px;}
.searchinput60x20{ width:60px; height:22px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}
.searchselect80x20{ width:80px; height:22px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}
.searchinput120x20{ width:120px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}
.searchinput150x20{ width:150px; height:20px;font-size:11px; border:1px solid #808080; padding:0px 0px 0px 5px;}
.searchselect40x20 option, .searchselect80x20 option, .searchinput120x20 option, .searchinput60x20 option{ padding:3px 0px 0px 5px; font-size:11px;height:18px; border-bottom: dotted 1px #999; cursor:pointer;}
.searchbutton {background: url("search20x19.png") no-repeat scroll 0 0 transparent;border: medium none;cursor: pointer;height: 21px;
	margin: 0;padding: 0;width: 22px;}
.font_searchbutton {background: url("search20x19.png") no-repeat scroll 0 0 transparent;border: medium none;cursor: pointer;height: 21px;
	margin: 0;padding: 0;width: 22px;}
.floatright{ float:right;}