### NetBeans template
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

uploads/*
!uploads/.gitignore

.htaccess



### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/
.zip
/tmebd_inventory1.rar
/tmebd_inventory.rar

## add all zip, rar etc tar files into gitignore
*.zip
*.rar
*.tar

