
/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
a.manual-button{
    background: url(../images/help.ico) no-repeat center center transparent;
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 3px;
    margin-left: 165px;
    border: 1px solid #9FCFD5;
    border-radius: 20px;
    padding: 3px;
    box-shadow: 0 0 4px #9FCFD5;
    cursor: pointer;
}
.manual-page{
    position: fixed;
    background-color: #CCCCCC;
    border: 8px solid #000000;
    border-radius: 0px 70px 70px 0px;
    box-shadow: 2px 2px 7px #FEFEFE;
    padding: 0px 10px;
    z-index: 5000;
}
fieldset.withBackgroundCss{
    margin-top: 2px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.secWrapper{
    float: left;
    width: 100%;
}
table.posTitleTab{
    float: left;
    width: 100%;
}
table.posTitleTab tr td{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
    text-shadow: 0 0 3px #000000;
}
table.warnQtyTab{
    background-color: #000000;
    border: 1px solid #FFFFFF;
    float: right;
    padding: 1px;
}
.leftSec{
    float: left;
    width: 44%;
}
.rightSec{
    float: left;
    width: 56%;
}
input[type="button"].dltBtn{
    background: url(../images/deleteBtn.png) no-repeat center;
    border: none;
    height: 32px;
    width: 32px;
}
form label {
    text-align: right;
    color: #FFFFFF;
}
form select{
    width: 147px;
}
.sec{
    float: left;
    width: 100%;
}
.subSec{
    float: left;
    width: 50%;
}
input[type="text"].upInput, select.upInput{
    padding: 13px 0;
}
input[type="text"].upInput{
    text-align: center;
}
select.upInput{
/*      border: 0;*/
  }
.secRight{
    float: left;
    width: 100%;
}
.scrollableDiv{
    float: left;
    height: 300px; 
    overflow: scroll;
    border: 1px solid;
    color: #cccccc;
    background-color: #343434;  
}
table tr th{
    color: #FFFFFF;
}
table.diffThTb tr th{
    color: #000000;
}
div#prodAdditionalInfoResult table tr th{
    color: #000000;
}
table.prodAddedTab {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    float: left;
    width: 100%;
}
table.prodAddedTab tr th {
    background-color: #FAEBD7;
    border: 1px solid #CCCCCC;
    text-align: center;
    padding: 5px 8px;
    color: #000000;
}
table.prodAddedTab tr td {
    border: 1px solid #CCCCCC;
    text-align: center;
    padding: 0px;
}
input[type="text"].amountCalc, input[type="text"].amountCalcDisc{
    height: 40px;
    width: 95px;
}
div.receivedByDiv{
    font-size: 18px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    width: 160px; 
    background-color: #EEEEEE;
}
input[type="text"].grandTotalInput{
    border: 1px solid #CCCCCC;
    color: #67d62f;
    font-size: 34px;
    height: 41px;
    width: 100%;
    text-align: center;
    background: -moz-linear-gradient(top, #3f653f, #1a1a1a);
}
.padDiv{
    z-index: 9000;
}
.padLayout{
    float: left;
}
input[type="text"].calInput{
    width: 282px;
    height: 30px;
    padding: 0px 4px;
    font-size: 18px;
    border-radius:1px;
    border: 4px inset #CCCCCC;
    background-color: #343434;
    color: #7FFF00;
    box-shadow: none;
}
button#ok{
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    border:1px solid #ffaa22;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    padding:35px 20px;
}
button#ok:hover{
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
button#ok:active{
    position: relative;
    top: 1px;
}
button.cancelButton{
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
    background-color:#fe1a00;
    border:1px solid #d83526;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    padding:11px 1px;
    -moz-border-radius:2px;
    border-radius:2px;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
}
button.cancelButton:hover{
    background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
    background-color:#ce0100;
}
button.cancelButton:active{
    position: relative;
    top: 1px;
}
button.calButton {
    -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color:#2dabf9;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #0b0e07;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    padding:11px 28px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
button.calButton:hover {
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#0688fa;
}
button.calButton:active {
    position:relative;
    top:1px;
}
button.clrButton {
    -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
    box-shadow:inset 0px 39px 0px -24px #e67a73;
    background-color:#e4685d;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #000000;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    padding:11px 26px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
button.clrButton:hover {
    background-color:#eb675e;
}
button.clrButton:active {
    position:relative;
    top:1px;
}
a.myButton3 {
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:-moz-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
    background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d',GradientType=0);
    background-color:#ff5bb0;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #ee1eb5;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #c70067;
}
a.myButton3:hover {
    background:-moz-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
    background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0',GradientType=0);
    background-color:#ef027d;
    text-decoration:none;
}
a.myButton3:active {
    position:relative;
    top:1px;
}
span.myButton4 {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
span.myButton4:hover {
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}
span.myButton4:active {
    position:relative;
    top:1px;
}
input[type="submit"].myButton5 {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #124d77;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
input[type="submit"].myButton5:hover {
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
input[type="submit"].myButton5:active {
    position:relative;
    top:1px;
}
table.prodListTabAjx{
    float: left;
    width: 100%;
    border-collapse: collapse;
    color: #FFFFFF;
}
table.prodListTabAjx tr{
    border: 1px solid #CCCCCC;
}
table.prodListTabAjx tr td{
    border: 1px solid #CCCCCC;
}
table.prodListTabAjx tr td span{
    float: left;
    width: 100%;
    height: 100%;
}
table.prodListTabAjx tr td span.addMoreBtn{
    float: right; 
    width: 28px; 
    margin: 4px 0; 
        font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 6px;
	background: -moz-linear-gradient(
		top,
		#42ff42 0%,
		#146600);
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #134201;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
table.prodListTabAjx tr td span.addMoreBtn:hover{
    background:-moz-linear-gradient(top, #146600 5%, #42ff42 100%);
    background:linear-gradient(to bottom, #146600 5%, #42ff42 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#146600;
}table.prodListTabAjx tr td span.addMoreBtn:active{
    position:relative;
    top:1px;
}
table.prodListTabAjx tr td span.priceSpan{
    color: #40E0D0;
    float: left;
    font-weight: bold;
    padding-top: 12px;
    text-shadow: 0 0 1px #000000;
    width: 75px;
}
.developedBy{
    color: #FF0000;
    float: right;
    margin-right: 3px;
}
.lessWidth{
    width: 100px;
}
.inputWithPad{
    border: 1px solid #AAAAAA;
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px #DDDDDD;
    float: left;
    height: 44px;
}
.inputWithPad img{
    vertical-align:middle;
    cursor:pointer;
    height: 40px;
    width: 30px;
}
.interfaceTitle{
    float: left;
    text-align: center;
    width: 96%;
    padding-left: 52px;
}
button#reloadSoft{
    background: url(../images/reload.png) no-repeat right transparent;
    width: 100%;
    height: 64px;
    border: none;
    cursor: pointer;
    text-align: left;
    color: #B0E0E6;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
span.quickdate{
    color: #FF0000;
    background-color: #FDF5E6;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    box-shadow: 0 0 2px #CCCCCC;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 1px;
    padding: 6px;
    text-decoration: none;
}
span.quickdate:hover{
    background-color: #FFE4B5;
}
a.logoutBtn{
    float: right;
    cursor: pointer;
    margin-right: 4px;
}
a.logoutBtn img{
    width: 31px;
    height: 31px;
    border: none;
}
.no-close .ui-dialog-titlebar { display:none; }
.no-close .ui-widget-content, .no-close .ui-widget-header {
    background: lavender;
    border: 0px;
}