

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

table.reportTab{
    float: left;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #C0C0C0;
    color: #000000;
    text-align: center;
}

table.reportTab tr, 
table.reportTab tr td,
table.reportTab tr th{
    border: 1px solid #C0C0C0;
}
table.reportTab tr th{
    background-color: #DADADA;
    color: #000000;
    padding:4px;
}
table.reportTab tr.odd{
    background-color: #FFFFDC;
}
table.reportTab tr.even{
    background-color: #FFFFFF;
}
table.reportTab tr td{
    padding:4px;
}
table.reportTab tr td img{
    height: 20px;
    position: relative;
    top: 10px;
}
table.reportTab tr td.textAlgnLeft{
    text-align: left;
}
table.reportTab tr td.textAlgnRight{
    text-align: right;
}
table.reportTab tr td.heightLight{
    background-color: #FFFF00;
}
table.reportTab tr td.merge{
    background-color: #FFFFB8;
}
table.reportTab tr.noborderTr, 
table.reportTab tr.noborderTr td{
    border: none;
    font-weight: bold;
    font-size: 14px;
}
ol{
    list-style: circle;
}

table#header-fixed{
    float: left;
    width: 1195px;
    border-collapse: collapse;
    text-align: center;
    position: fixed; 
    top: 0px; 
    display:none;
	width: 1328px;
}
table#header-fixed tr th{
    border: 1px solid #C0C0C0;
}
table#header-fixed tr th{
    background-color: #DADADA;
    color: #000000;
    padding:4px;
}
ul.specialUl{
    float: left;
    width: 100%;
    list-style: none;
}
ul.specialUl li{
    float: left;
    width: 96.4%;
}
ul.specialUl li span.specialUlLeft{
    float: left;
}
ul.specialUl li span.specialUlRight{
    float: right;
}
span.reportTitle{
    float: left;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}