table.detail-view .null
{
    color: pink;
}

table.detail-view
{
    background: white;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

table.detail-view th, table.detail-view td
{
    border: 1px solid #FFFFFF;
    color: #0000FF;
    font-size: 11px;
    font-weight: normal;
    padding: 0.3em 0.6em;
/*    text-align: left;*/
    vertical-align: top;
}

table.detail-view th
{
    width: 160px;
    color: #000000;
}

table.detail-view tr.odd
{
    background:#E5F1F4;
}

table.detail-view tr.even
{
    background:#F8F8F8;
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}
